
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "reset";

$preto:rgba(0, 0, 0, 1);
$primaria: rgba(251, 149, 62, 1);
$cinza1: rgba(0, 0, 0, 0.5);
$cinza2: rgba(102, 102, 102, 1);
$cinza3: rgba(51, 51, 51, 1);

p,
button{
  font-family: "Open Sans", serif;
}

.ocultar-dt{
  display: none;
}

header {
  padding: 25px 0;
  border-bottom: 2px solid rgba(199, 199, 199, 1);

  .container-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    #count {
      width: 14px;
      height: 14px;
      background: $primaria;
      border-radius: 16px;
      color: #fff;
      top: 36px;
      position: absolute;
      text-align: center;
      right: 57px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}

.main-container {
  display: flex;
  width: 90%;
  margin: 30px auto 0;
  gap: 5%;

  .filter {
    width: 20%;

    h1 {
      font-size: 32px;
      font-weight: 400;
      line-height: 43.58px;
      color: $cinza3;
      padding: 0 0 60px;
    }

    #filters {
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: flex-start;
      .accordion.accordion.only-mobile{
        display: none;
      }
      .faixa-de-preco{
        margin-top: 30px;
      }
    }

    

    

    // Estilo para o campo de seleção de cores
 #filters  .oculto {
    display: none;
  }
  #filters #cor-oculta{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

#ver-todas-as-cores {
  color:$cinza2;
  cursor: pointer;
  margin: 8px 0 30px;
}    

    .panel {
      // display: none;
      
      legend {
        font-size: 16px;
        line-height: 21.79px;
        letter-spacing: 1px;
        color: $cinza3;
        margin-bottom: 17px;
      }
     
      

      label {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        border: 1px solid $preto;
        box-shadow: inset 0 0 0 2px white;
        cursor: pointer;
      }

      input[type="checkbox"]:checked {
        background-color: $primaria;
        border-color: $preto;
      }

    }

    .mobile-menu{
      display: none;
    }

    #filters .tamanhos{
      display: grid;
      grid-template-columns: repeat(4, 0fr);
      grid-gap: 10px;
      margin-top: 30px;
      .wrapper-tamanhos{
        display: flex;
        flex-wrap: wrap;
        width: 160px;
        gap: 10px;
        label{
          display: block;
          position: relative; 
          width: 32px;
          span{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer; 
          }
        }
      }
      input{
        width: 32px !important;
        height: 32px !important;
        margin: 0;
        
      }
      
      input[type="checkbox"]:checked{
          border-color: #fb953e;
          background: none;
          
    
      }
      > span{
        font-weight: bold;
      }
    }
    
  }

  .open-menu{
    display: none;
  }

  .ordenador {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 60px;

  }

  .main-cards {
    width: 70%;

    .cards-container {
      display: flex;
      flex-wrap: wrap;
      gap: 45px;
      margin: 0 auto;
      justify-content: center;
      .card-products{
        width: 199px;

        .img-produto{
          width: 195px;
          height: 295px;

          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
      .card-products:nth-child(n + 10) {
        display: none;
      }

      .img-props {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 7px;

        .name-product {
          text-transform: uppercase;
          font-family: Open sans;
          font-size: 14px;
          line-height: 19.07px;
          font-weight: 400;
        }
        
        .size-product,
        .color-product {
          display: none;
        }

        .price-product {
          font-size: 16px;
          line-height: 21.79px;
          font-weight: 700;
        }

        .btn-comprar {
          background: black;
          color: #fff;
          width: 100%;
          padding: 7px 49px;
          border: none;
          font-weight: 700;
          font-size: 14px;
          line-height: 19.07px;
          cursor: pointer;
        }
      }

    }
  }

  
  
}

.carregar-mais{
  text-align: center;
  margin: 80px auto 40px;
  #btn-carregar-mais {
    background: $primaria;
    color: #fff;
    border: none;
    padding: 8px 31px 8px 31px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.07px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

footer{
  background: $preto;
  p{
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 8px 31px;
  }
}


// Variáveis
$primary-color: #FB953E;
$text-color: #fff;
$border-color: #ccc;
$hover-background: darken($primary-color, 10%);
$font-family: Arial, sans-serif;

// Dropdown Container
.custom-dropdown {
  position: relative;
  width: 200px;
  font-family: $font-family;

  // Botão Principal
  .dropdown-button {
    width: 142px;
    padding: 12px;
    color: #000;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.5);

    &::after {
      content: "▼";
      margin-left: auto;
      font-size: 12px;
    }
  }

  // Lista Suspensa
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 142px;
    margin: 0;
    padding: 0;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    list-style: none;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;

    li {
      padding: 8px 12px;
      cursor: pointer;
      color: #333;

      &:hover {
        background-color: $primary-color;
        color: $text-color;
      }
    }

    // Esconder Dropdown por padrão
    &.hidden {
      display: none;
    }
  }
}


/* Estilo da Modal */
.modal {
    display: none; /* Inicialmente oculta */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 30%;
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      height: 100vh;
      overflow: hidden;
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            background: none;
            border: none;
          }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        #cart-items {
            margin-top: 20px;
          }
        .btn-empty-cart {
            margin-top: 20px;
            padding: 10px;
            background-color: $primary-color;
            color: white;
            border: none;
            cursor: pointer;
        }
      }
      
}



// Estilo para abrir o menu lateral
.open-menu {
  top: 20px;
  left: 20px;
  z-index: 999;
}


#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  background-color: #ccc;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: opacity 0.3s;
  height: 30px;
  width: 30px;
}

#back-to-top:hover {
  background-color: $primaria; 
}

.hidden-desk{
  display: none;
}


// Estilos para dispositivos móveis
@media (max-width: 767px) {


  .main-container .main-cards .cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: inherit;
    row-gap: 20px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    width: 100%;
    justify-content: space-evenly;
    .product-card{
      width: 45%;
    }
  }

  .modal-content{
    width: 80% !important;
  }

  .custom-dropdown .dropdown-list{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    max-height: initial;
    .hidden-desk{
      display: flex;
      color: #666666;
      font-size: 28px;
      padding: 20px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid #666666;
      .close-drop{
        background: none;
        border: none;
      }
    }
    li{
      padding: 20px;
      &:hover {
        background:none;
        color: $preto;
      }
    }
   
  }

  #dropdown-button{
    display: block;
    z-index: 0;
    width: 100%;
    height: 50px;
    font-size: 0;
    border: 1px solid #666666;
    background: none;
    text-align: center;
    &::after {
      content: "Ordenar" !important;
      margin-left: auto;
      font-size: 24px;
      line-height: 1;
      text-align: center;
    }
  }



  .ocultar-mb{
    display: none;
  }

  .oculto{
    display: block !important;
  }

  .filters-btns {
    display: flex;
    width: 90%;
    margin: 10px auto;
    gap: 10px;
    button{
      width: 50%;
      padding: 8px 31px;
      font-size: 14px;
    }
    .filtrar-produto{
      color: #FFF;
      background: $primaria;
      border: none;
      cursor: pointer;
    }
    #limpar-filtro{
      background: none;
      color: $cinza2;
      border: 1px solid $cinza2;
      cursor: pointer;
    }
  }

  header .container-header #count{
    right: 13px;
  }



  // Estilo para o menu lateral
.filters-mobile {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: left 0.3s ease-in-out;
}

  


  .desktop-menu{
    display: none;
  }

  .main-container .filter{
    width: 0;
    h1{
      display: none;
    }
    .filters-mobile{
      z-index: 999;
      .txt-filtrar{
        display: flex;
        padding: 20px;
        justify-content: space-between;
        border-bottom: 0.5px solid $cinza2;
        h2{
          color: $cinza2;
          font-weight: 400;
          font-size: 28px;
        }
        .close-menu{
          background: none;
          border: none;
        }
      }
      .wrapper-filters{
        height: 85vh;
        padding: 20px;
      }
    }
  }

  

  .main-container{
    width: 100%;
    gap: inherit;
    // .filter{
    //   display: none;
    // }
    .ordenador{
      width: 90%;
      margin: 0 auto;
    }
    .open-menu{
      display: block;
      z-index: 0;
      width: 50%;
      height: 50px;
      font-size: 24px;
      border: 1px solid $cinza2;
      background: none;
    }
    #sort-filter{
      width: 50%;
      height: 50px;
      font-size: 24px;
      border: 1px solid $cinza2;
    }

    .main-cards{
      width: 100%;
      #cards {
        gap: 10px;
        .card-products{
          width: 45%;
          img{
            width: 100%;
          }
        }
        .card-products:nth-child(n + 5) {
          display: none;
        }
    }
  } 


  }

  #ver-todas-as-cores{
    display: none;
  }


  .filters-mobile.open {
    left: 0;
    z-index: 1;
    .fecharmenu{
      display: flex;
    justify-content: space-between;
    margin: 20px;
    }
  }

  .main-container .filter #filters .accordion.accordion.only-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
      color: $cinza2;
      font-size: 24px;
      font-weight: 400;
    }
  }

  .main-container .filter #filters .faixa-de-preco{
    margin-top: 0px;
    flex-direction: column;
    display: flex;
  }

  .main-container .filter #filters .tamanhos .wrapper-tamanhos {
    width: 200px;
    gap: 15px;
}

  .accordion {
    background: #fff;
    color: #444;
    cursor: pointer;
    padding: 20px 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  
  fieldset{
    // display: none;
    // overflow: hidden;
    .panel {
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: hidden;
    }
  }

  
  

}
